@import '../../style/variables';

.dashboard-container {
  width: 80%;
  margin: auto;

  &-post {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin: 20px auto;
  }

  &-thumbnail {
    grid-row: 1/2;
    transform: scale(0.8);
    transition: all 0.7s ease-out;
    cursor: pointer;
  }

  &-thumbnail:hover {
    transform: scale(1);
  }

  &-title {
    margin-bottom: 10px;
  }
}
